@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* !<---------------------  HOME  ----------------> */
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: 150% 100%;
  background-image: url(https://assets.api.uizard.io/api/cdn/stream/6b978a21-d1cf-4ea5-ae26-56adf0e6461f.jpg);
  background-repeat: no-repeat;
  border-radius: 20px;
  
}

.inicio{
  
  width: 100%;
  height: 100%;
}

.titular {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: white;
  align-items: center;
  margin-top: 20%;
  margin-left: 0;
}



.titular img {
  max-width: 50%;
  margin-left: 25% ;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.login {

  
  text-align: center;
  position: absolute;
  width: 100%;
  height: 3rem;
  top: 40rem


}

.boton-uno {

    color: white;
    background-color: #6D06FF;
    width: fit-content;
    padding: .9em 7rem .9em 7rem;
    margin-left: 10%;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 30px;
}

.boton-uno:hover {
  transform: translateY(-30%);
}

.inicio p {
  font-size: 14px;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45rem;
  color: white
}

.comenzar {

  background-color: #43d17d;
  color: white;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  padding: 10px 10px 10px 10px ;
  margin-top: 50rem;
  margin-left: 33%;
  border-radius: 20px;
  
}



/* !<---------------------  LOGIN ----------------> */


.fondo {
  position: absolute;
  background-color:#6210FF;
  width: 100%;
  height: 100%;
  
}

.OCNblanco img{
  position: relative;
  width: 132px;
  height: 73px;
  left: 17px;
  top: 18px
 
}

.NetaV img{
  position: absolute;
  width: 565px;
  height: 235px;
  left: -73px;
  top: 119px;
}

.rectangulo{
  background: #FFFFFF;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top:400px;
  border-radius: 25px 25px 0px 0px;

}

.Bienvenido {

  position: absolute;
  width: 196px;
  height: 24px;
  left: 82px;
  top: 34px;
  
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
}

.iniciar {

  position: absolute;
width: 143px;
height: 17px;
left: 108px;
top: 68px;

font-family: 'Urbanist';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.input_email {
  position: absolute;
width: 312px;
height: 49px;
left: 24px;
top: 121px;

background: #F4F4F4;
border-radius: 10px;
}

.input_email:focus {
  position: absolute;
width: 312px;
height: 49px;
left: 24px;
top: 121px;

background: #F4F4F4;
border-radius: 10px;

background: rgba(98, 16, 255, 0.1);
border: 5px solid #6210FF;
border-radius: 10px;
}

.input_pass {

position: absolute;
width: 312px;
height: 49px;
left: 24px;
top: 184px;

background: #F4F4F4;
border-radius: 10px;
}

.input_pass:focus{
  position: absolute;
  width: 312px;
  height: 49px;
  left: 24px;
  top: 184px;

  background: rgba(98, 16, 255, 0.1);
  border: 5px solid #6210FF;
  border-radius: 10px;
}

.boton {
  position: absolute;
  width: 312px;
  height: 49px;
  left: 24px;
  top: 309px;

  background: #6210FF;
  box-shadow: 0px 10px 25px rgba(98, 16, 255, 0.3);
  border-radius: 50px;

  color: #FFFFFF;
}

.forgot {

  position: absolute;
  width: 124px;
  height: 14px;
  left: 219px;
  top: 256px;

  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #6210FF;
}

/* !<---------------------  HEADER ----------------> */


.header {
  position: relative;
  width: 100%;
  height: 55px;
  left: 0px;
  top: 0px;

  background: #8037FE;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

}

.header img {

  position: relative;
  width: 84px;
  height: 40px;
  left: 21px;
  top: 7px;

}


.navMenu{
  margin-left: 85%;
  margin-top: -40px;
}

.navMenu > span {

  display: block;
  background-color: #fff;
  width: 28px;
  height: 2px;
  border-radius:9999px ;
  
}

.navMenu > span:not(:last-child){
  margin-bottom: 7px;
}

.navMenu, .navMenu > span {
  transition: all .4s ease-in-out;
}

.navMenu.active{
  transition-delay:  0.08s;
  transform: rotate(45deg);
  margin-top: -30px;
}

.navMenu.active > span:nth-child(2){
  width: 0;
}

.navMenu.active > span:nth-child(1),
.navMenu.active > span:nth-child(3){
  transition-delay: 0.4s;
}

.navMenu.active > span:nth-child(1){
  transform: translateY(9px);
}

.navMenu.active > span:nth-child(3){
  transform: translateY(-9px) rotate(90deg);
}

/* !---------Profile-------------- */

.data{
  display: flex;
  margin-top: 2em;
  width: 100%;
  height: 5em;
}

.data img {
  margin-top: 0.5em;
  margin-left: 1em;
  width: 4em ;
  height: 4em;
  border-radius:50%;
  border: 2px solid #43d17d
}

.data h4 {
    margin-left:9em;
    margin-top: -4em;
    color: #000000;
    font-family: 'Urbanist';
    font-weight: bold;
    font-size: 12px;
    line-height: 14.4px;
     
}

.data p {
  position: absolute;
  width: 130px;
  height: 17px;
  left: 7.5em;
  top: 9em;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #6210FF;;
}

.menu {
  width: 100%;
  height: 100%;
}

.invoice_info {
  margin-top: 2em ;
  display: grid;
  align-items: center;
  text-align: center;
}

.invoice_info p{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.invoice_info span{
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 0.5em;
}

.services {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 1.5em;
  margin-top: 2em;
}


.service img{
  width: 4em ;
  height: 4em;
  border-radius:50%;
  margin: 0.3em;
  margin-bottom: 3em;
  background-color: #C493F4;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.7);
}

.service span {
  position: relative;
  top: 3em;
  left: -4em;
  bottom: 2px;
}

.rectangle11{
  width: 90%;
  background-color: #8037FE;
  height: 169px;
  left: 24px;
  background: #8037FE;
  border-radius: 12px;
  margin-left:5% ;
  margin-top: 3em;
}

.rectangle11 div {
  display: flex;
}

.rectangle11 img {
  width: 1.5em;
  margin-top: 1em;
  margin-left: 1em;
}

.rectangle11 p {
  color: white;
  margin-left: 4em;
  margin-top: -1.5em;
}

.options {
 margin-left: 90%;
 margin-top: -2em;
}

.options span {
  width: 3px;
  height: 3px;
  margin-left: 0.3em;
  background: #F8EEEE;
}

.total {
  width: 100%;
  margin-top: 2.5em;
}

.total span {
  color: #fff;
  margin-top: 5px;
  margin-left: 1em;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.total div {

  background-color: #212121;
  color: #fff;
  padding: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 10px;
  margin-left: 4em;
  cursor: pointer;
}

.limit_date{
  margin-top: 1em;
  margin-left:1.5em ;
  display: flex;
}

.limit_date div {
  padding: 0;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.limit_date span {
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  margin-top: 15px;
  margin-left: -6.3em;
}

.incident{
  display: grid;
    width: 9em;
    height: 4em;
    background: #47EB84;
    border-radius: 16px;
    text-align: center;
    margin-left: 60%;
    margin-top: 2em;
    align-items: start;
}


.incident span {
  position: relative;
  margin-top: 1em;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 18px;
}